html {
    background-color: #333333;
    background-image: url(test.jpg)
}

.welcome {
    text-align: center;
    font-size: 50px;
    color: #BBBBBB;
    text-shadow: 4px 4px 6px black;
    border-bottom: 2px solid currentColor;
    font-family: Helvetica;
}

.photo{
    text-align: center;
}

#pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    box-shadow: 3px 3px 5px gray;
}

.closingtext {
    text-align: center;
    font-size: 30px;
    color: #BBBBBB;
    font-family: Helvetica;
    text-shadow: 2px 2px 4px black;
}

.arrow {
    transform: scaleX(-1);
}

.intro {
    text-align: center;
    font-size: 30px;
    color: #BBBBBB;
    font-family: Helvetica;
    text-shadow: 2px 2px 4px black;
}

.intro-2 {
    text-align: center;
    font-size: 30px;
    color: #BBBBBB;
    font-family: Helvetica;
    text-shadow: 2px 2px 4px black;
}

.commentsTitle {
    text-align: center;
    font-size: 30px;
    color: #BBBBBB;
    font-family: Helvetica;
    text-shadow: 2px 2px 4px black;
}

.emailSend{
    text-align: center;
}

.box{
    width: 1500px;
    height:250px;
    font-size: 20px;
    background-color: lightgray;
}

.inputButton {
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 3px 3px 5px black;
    transition-duration: 0.5s;
}

.inputButton:hover {
    background-color: darkgray;
    cursor: pointer;
}

.navbar {
    list-style-type: none;
    position: fixed;
}
.navbarlist{
    display:inline;
}


.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #BBBBBB;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}