body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 13px;
  padding: 30px;
}

svg{
  display: block;
  margin: auto;
}

.inline {
  display: inline-block;
  padding: 8px;
}

.chart {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leaflet-map {
  width: 100%;
  height: 500px;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}

.chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.chart-row > div {
    width: 45%; /* Adjust as needed */
}

.map-wordcloud-container {
  display: flex;
}

#wordcloud-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px; /* adjust as needed */
}

#wordcloud {
  padding-top: 20px; /* adjust as needed */
}